<!DOCTYPE html>
<html>

<head>
    <title>Bitcoinz</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <!-- <script src="server.py" defer></script>  -->
</head>

<body>
    <div class="container">
        <header>
            <img src="../static/img/bitcoin.png" />
            <h2>Bitcoin project</h2>
            <h3>By Siri Nordlander & Rebecca Fällström</h3>
        </header>
        <div class="buttonContainer">
            <button id="homeButton">HOME</button>
            <button id="graphButton">GRAPH</button>
            <button id="tableButton">TABLE</button>
            <button id="priceButton">SHOW CLOSING PRICES</button>


        </div>

        <div class="bitcoinContent">
            {% block content %} {% endblock %}
            <b></b>
            <div id="temp">
                <h1>Midterm presentation on historical Bitcoin data</h1>
                <p>Welcome to the demo of the website created to complete the midterm in the course Advanced Algorithms and Programming. The website is created by Siri Nordlander and Rebecca Fällström.
                    <br> <b>How to navigate:</b>
                    <br> <b>HOME -></b> this page, the homepage
                    <br> <b>TABLE -></b> instert a date to see the specific data from that day
                    <br> <b>SHOW CLOSING PRICES -></b> pick two dates and get the closing prices inbetween those dates. Pick a number of elements you want to see if you want the list to be shoreter and only see the n:th first elements
                    <br> <b>GRAPH -></b> to see a graph of all closing prices during the interval
                </p>

                <div>
                    <button id="button_bitcoin">Bitcoin</button>
                    <button id="button_eurusd">EUR/USD</button>
                    <button id="button_gold">Gold</button>
                    <button id="button_nasdaq">Nasdaq</button>
                    <button id="button_sp500">S&P 500 Futures</button>
                    <button id="button_sp500vix">S&P 500 VIX Futures</button>
                    <button id="button_tesla">Tesla</button>
                </div>
            </div>

        </div>
    </div>

</body>

</html>

{% block javascript %}
<script>
    // Set routes for specific market
    document.getElementById('button_bitcoin').addEventListener('click', function() {
        sessionStorage.setItem('table', '/table/bitcoin')
        sessionStorage.setItem('graph', '/graph/bitcoin')
        sessionStorage.setItem('closing', '/closing_prices/bitcoin')
    })

    document.getElementById('button_eurusd').addEventListener('click', function() {
        sessionStorage.setItem('table', '/tables/eurusd')
        sessionStorage.setItem('graph', '/graph/eurusd')
        sessionStorage.setItem('closing', '/closing_prices/eurusd')
    })

    document.getElementById('button_gold').addEventListener('click', function() {
        sessionStorage.setItem('table', '/tables/gold')
        sessionStorage.setItem('graph', '/graph/gold')
        sessionStorage.setItem('closing', '/closing_prices/gold')
    })

    document.getElementById('button_nasdaq').addEventListener('click', function() {
        sessionStorage.setItem('table', '/tables/nasdaq')
        sessionStorage.setItem('graph', '/graph/nasdaq')
        sessionStorage.setItem('closing', '/closing_prices/nasdaq')
    })

    document.getElementById('button_sp500').addEventListener('click', function() {
        sessionStorage.setItem('table', '/tables/sp500')
        sessionStorage.setItem('graph', '/graph/sp500')
        sessionStorage.setItem('closing', 'closing_prices/sp500')
    })

    document.getElementById('button_sp500vix').addEventListener('click', function() {
        sessionStorage.setItem('table', '/tables/sp500vix')
        sessionStorage.setItem('graph', '/graph/sp500vix')
        sessionStorage.setItem('closing', '/closing_prices/sp500vix')
    })

    document.getElementById('button_tesla').addEventListener('click', function() {
        sessionStorage.setItem('table', '/tables/tesla')
        sessionStorage.setItem('graph', '/graph/tesla')
        sessionStorage.setItem('closing', '/closing_prices/tesla')
    })


    document.getElementById('homeButton').addEventListener('click', function() {
        window.location.href = '/';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })


    document.getElementById('graphButton').addEventListener('click', function() {
        graph_route = sessionStorage.getItem('graph')
        window.location.href = graph_route;
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('tableButton').addEventListener('click', function() {
        table_route = sessionStorage.getItem('table')
        window.location.href = table_route;
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('priceButton').addEventListener('click', function() {
        closing_route = sessionStorage.getItem('closing')
        window.location.href = closing_route;
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    var element = document.getElementById("temp");
    if (window.location.pathname == "/") {
        console.log('/')
        if (element.classList.contains("hide")) {
            element.classList.remove("hide");
        }
        element.classList.add("show");
    } else {
        if (element.classList.contains("show")) {
            element.classList.remove("show");
        }
        element.classList.add("hide");
    }
</script>
{% endblock%}