<!DOCTYPE html>
<html>

<head>
    <title>Bitcoinz</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <!-- <script src="server.py" defer></script>  -->
</head>

<body>
    <div class="container">
        <header>
            <img src="../static/img/bitcoin.png" />
            <h2>Bitcoin project</h2>
            <h3>By Siri Nordlander & Rebecca Fällström</h3>
        </header>
        <div class="buttonContainer">
            <button id="homeButton">HOME</button>
            <button id="graphButton">GRAPH</button>
            <button id="tableButton">TABLE</button>
            <button id="priceButton">SHOW CLOSING PRICES</button>
            <button id="predictionButton">SHOW PREDICTIONS</button>
        </div>

        <div class="bitcoinContent">
            {% block content %} {% if choosen == True %}
            <div>
                <p>Choosen market is: <b>{{ market }}</b></p>
            </div>
            {% endif %} {% if choosen == False %}
            <div>
                <p><b>Please select a market</b></p>
            </div>
            {% endif %} {% endblock %}
            <div id="temp">
                <h1>Midterm presentation on historical market data</h1>

                <p>Welcome to the demo of the website created to complete the midterm in the course Advanced Algorithms and Programming. The website is created by Siri Nordlander and Rebecca Fällström.
                    <br> <b>How to navigate:</b>
                    <br> <b>HOME -></b> this page, the homepage
                    <br> <b>TABLE -></b> instert a date to see the specific data from that day
                    <br> <b>SHOW CLOSING PRICES -></b> pick two dates and get the closing prices inbetween those dates. Pick a number of elements you want to see if you want the list to be shoreter and only see the n:th first elements
                    <br> <b>GRAPH -></b> to see a graph of all closing prices during the interval
                    <br> <b>SHOW PREDICTIONS -></b> to see a table of the last n lays of the closing prices for the market. Also to see the prediction of the trained data for Bitcoin prices
                </p>
                <div>
                    <form method='post' action='/'>
                        <input type='submit' name='choose_market' value='Bitcoin'>
                        <input type='submit' name='choose_market' value='EUR/USD'>
                        <input type='submit' name='choose_market' value='Gold Futures'>
                        <input type='submit' name='choose_market' value='Nasdaq 100 Futures'>
                        <input type='submit' name='choose_market' value='S&P 500 Futures'>
                        <input type='submit' name='choose_market' value='S&P 500 VIX Futures'>
                        <input type='submit' name='choose_market' value='Tesla'>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>

{% block javascript %}
<script>
    document.getElementById('homeButton').addEventListener('click', function() {
        window.location.href = '/';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })


    document.getElementById('graphButton').addEventListener('click', function() {
        window.location.href = '/graph';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('tableButton').addEventListener('click', function() {
        window.location.href = '/tables';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('priceButton').addEventListener('click', function() {
        window.location.href = '/closing_prices';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('predictionButton').addEventListener('click', function() {
        window.location.href = '/predictions';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    var element = document.getElementById("temp");
    if (window.location.pathname == "/") {
        console.log('/')
        if (element.classList.contains("hide")) {
            element.classList.remove("hide");
        }
        element.classList.add("show");
    } else {
        if (element.classList.contains("show")) {
            element.classList.remove("show");
        }
        element.classList.add("hide");
    }
</script>
{% endblock%}