<!DOCTYPE html>
<html>

<head>
    <title>Bitcoinz</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <!-- <script src="server.py" defer></script>  -->
</head>

<body>
    <div class="container">
        <header>
            <img src="../static/img/bitcoin.png" />
            <h2>Bitcoin project</h2>
            <h3>By Siri Nordlander & Rebecca Fällström</h3>

        </header>
        <div class="buttonContainer">
            <button id="homeButton">HOME</button>
            <button id="graphButton">GRAPH</button>
            <button id="tableButton">TABLE</button>
            <button id="priceButton">SHOW CLOSING PRICES</button>


        </div>



        <div class="bitcoinContent">
            {% block content %} {% endblock %}
            <b></b>
            <div id="temp">
                <h1>Midterm presentation on historical Bitcoin data</h1>
                <p>Welcome to the demo of the website created to complete the midterm in the course Advanced Algorithms and Programming. The website is created by Siri Nordlander and Rebecca Fällström.
                    <br> <b>How to navigate:</b>
                    <br> <b>HOME -></b> this page, the homepage
                    <br> <b>TABLE -></b> instert a date to see the specific data from that day
                    <br> <b>SHOW CLOSING PRICES -></b> pick two dates and get the closing prices inbetween those dates. Pick a number of elements you want to see if you want the list to be shoreter and only see the n:th first elements
                    <br> <b>GRAPH -></b> to see a graph of all closing prices during the interval
                </p>





                <!-- <div id="financial_variable" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select financial market</span>
                    <ul class="items">
                        <li><input type="radio" id="bitcoin" name="market" value="bitcoin">
                            <label for="bitcoin">Bitcoin</label></li>

                        <li><input type="radio" id="eurusd" name="market" value="eurusd">
                            <label for="eurusd">EUR/USD</label></li>

                        <li><input type="radio" id="gold" name="market" value="gold">
                            <label for="gold">Gold Futures</label></li>

                        <li><input type="radio" id="nasdaq" name="market" value="nasdaq">
                            <label for="nasdaq">Nasdaq 100 Futures</label></li>

                        <li><input type="radio" id="sp500futures" name="market" value="sp500futures">
                            <label for="sp500futures">S&P 500 Futures</label></li>

                        <li><input type="radio" id="sp500vix" name="market" value="sp500vix">
                            <label for="sp500vix">S&P 500 VIX Futures</label></li>

                        <li><input type="radio" id="tesla" name="market" value="tesla">
                            <label for="tesla">Tesla</label></li>

                    </ul>
                </div> -->
            </div>

            <form action="{{ url_for('home')}}" method="POST" id="financial_variable" class="dropdown-check-list" tabindex="100" onsubmit="">
                <span class="anchor">Select financial market</span>
                <ul class="items">
                    <li><input type="radio" id="bitcoin" name="market" value="bitcoin">
                        <label for="bitcoin">Bitcoin</label></li>

                    <li><input type="radio" id="eurusd" name="market" value="eurusd">
                        <label for="eurusd">EUR/USD</label></li>

                    <li><input type="radio" id="gold" name="market" value="gold">
                        <label for="gold">Gold Futures</label></li>

                    <li><input type="radio" id="nasdaq" name="market" value="nasdaq">
                        <label for="nasdaq">Nasdaq 100 Futures</label></li>

                    <li><input type="radio" id="sp500futures" name="market" value="sp500futures">
                        <label for="sp500futures">S&P 500 Futures</label></li>

                    <li><input type="radio" id="sp500vix" name="market" value="sp500vix">
                        <label for="sp500vix">S&P 500 VIX Futures</label></li>

                    <li><input type="radio" id="tesla" name="market" value="tesla">
                        <label for="tesla">Tesla</label></li>

                </ul>


        </div>
    </div>

</body>

</html>

{% block javascript %}
<script>
    document.getElementById('homeButton').addEventListener('click', function() {
        window.location.href = '/';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })


    document.getElementById('graphButton').addEventListener('click', function() {
        window.location.href = '/graph';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('tableButton').addEventListener('click', function() {
        window.location.href = '/tables';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    document.getElementById('priceButton').addEventListener('click', function() {
        window.location.href = '/closing_prices';
        // document.getElementById('tableButton').innerHTML = "Hello World";
    })

    var checkList = document.getElementById('financial_variable');
    checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkList.classList.contains('visible'))
            checkList.classList.remove('visible');
        else
            checkList.classList.add('visible');
        displayRadioValue()
    }


    var markets = document.querySelectorAll('input[name="market"]').onclick = function() {
        var ele = document.getElementsByName('market');
        console.log('element')
        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                sessionStorage.setItem('market', ele[i].value)
            console.log(ele[i].value)
                // document.getElementById("result").innerHTML= "Gender: "+ele[i].value;
        }
    }

    // var marketSelection = document.getElementsByClassName('items').onclick = function() {
    //     var ele = document.getElementsByName('market');
    //     console.log(ele)
    //     for (i = 0; i < ele.length; i++) {
    //         if (ele[i].checked)
    //             sessionStorage.setItem('market', ele[i].value)
    //         console.log(ele[i].value)
    //             // document.getElementById("result").innerHTML= "Gender: "+ele[i].value;
    //     }
    // }

    function displayRadioValue() {

        console.log('ele')

    }


    var element = document.getElementById("temp");
    if (window.location.pathname == "/") {
        console.log('/')
        if (element.classList.contains("hide")) {
            element.classList.remove("hide");
        }
        element.classList.add("show");
    } else {
        if (element.classList.contains("show")) {
            element.classList.remove("show");
        }
        element.classList.add("hide");
    }
</script>
{% endblock%}